<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abunayem.digibin"> <!-- SDK Versions -->
    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="35" />
    <!-- Permissions -->
    <uses-permission android:name="android.permission.REORDER_TASKS" /> <!-- Package Queries for Testing -->
    <queries>
        <package android:name="androidx.test.orchestrator" />
        <package android:name="androidx.test.services" />
        <package android:name="com.google.android.apps.common.testing.services" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigiBin"
        tools:targetApi="31">
        <activity
            android:name=".feedback"
            android:exported="false" />
        <activity
            android:name=".CollLocationActivity"
            android:exported="false" />
        <activity
            android:name=".admin_total_collection"
            android:exported="false" />
        <activity
            android:name=".shareapp"
            android:exported="false" />
        <activity
            android:name=".devloper"
            android:exported="false" />
        <activity
            android:name=".support"
            android:exported="false" />
        <activity
            android:name=".adminpricelistupdate"
            android:exported="false" />
        <activity
            android:name=".adminprofile"
            android:exported="false" />
        <activity
            android:name=".SignupAdmin"
            android:exported="false" />
        <activity
            android:name=".LoginAdmin"
            android:exported="false" />
        <activity
            android:name=".adminmain"
            android:exported="false" />
        <activity
            android:name=".collprofile"
            android:exported="false" />
        <activity
            android:name=".Status_Collector"
            android:exported="false" />
        <activity
            android:name=".Admin_coll_assign"
            android:exported="false" />
        <activity
            android:name=".CollMainActivity"
            android:exported="false" />
        <activity
            android:name=".Status_Admin"
            android:exported="false" />
        <activity
            android:name=".congratulation"
            android:exported="false" />
        <activity
            android:name=".pickuprequest"
            android:exported="false" />
        <activity
            android:name=".Collector_calculate"
            android:exported="false" /> <!-- Preloaded Fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Status_Customer"
            android:exported="false" />
        <activity
            android:name=".test"
            android:exported="false" /> <!-- Main App Activities -->
        <activity
            android:name=".SignupCustomer"
            android:exported="false" />
        <activity
            android:name=".LoginCustomer"
            android:exported="false" />
        <activity
            android:name=".SignupColl"
            android:exported="false" />
        <activity
            android:name=".LoginColl"
            android:exported="false" />
        <activity
            android:name=".ChooseLocationActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" /> <!-- Splash Screen (Launcher Activity) -->
        <activity
            android:name=".Splash_Screen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="android.test.runner" />
    </application>

</manifest>